<!--  banner -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nopad">
        <div class="contanct-img">
          <img src="assets/images/banners/contact-banner.jpg" class="img-fluid" alt="...">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
  <!--  ./ banner -->

  <!-- inner content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12">
      <h2>Contact Details</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="cust-contact">
          <i class="fa fa-phone-square"></i> <br>
          <a href="tel:+9140 4261 2022">+9140 4261 2022</a><br>
          <a href="tel:+91 9701 930 011/22">+91 9701 930 011/22</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cust-contact">
          <i class="fa fa-envelope"></i> <br>
          <a href="mailto:sales@versatilemobitech.com">sales@versatilemobitech.com</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cust-contact">
          <i class="fa fa-map-marker" aria-hidden="true"></i> <br>
          <p>3rd Floor, Uni Space Business Center,
              Modern profound tech park,
              Survey No: 12, Whitefields, Kondapur,
              Hyderabad, Telangana 500032
          </p>
      </div>
    </div>
  </div>

  <div class="row mb-5">
      <div class="col-sm-12">
          <div class="revealOnScroll" data-animation="fadeInUp">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control cont-form" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control cont-form" placeholder="Email">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="tel" class="form-control cont-form" placeholder="Phone">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control cont-form" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="6"></textarea>
              </div>
              <div class="row">
                  <div class="col-sm-12 btn-cnter">
                      <button type="submit" class="btn btn-success cust-sbmt">Send</button>
                  </div>
              </div>
          </form>
          </div>
      </div>
  </div>
</div>
  <!-- ./inner content -->

  <!-- navigation -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.0525135299686!2d78.36853411487729!3d17.45720048803675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb98ef97bac277%3A0x978c227c33ec089f!2sVersatile+Mobitech+%7C+Web+and+Mobile+Application+Development+Company+in+Hyderabad!5e0!3m2!1sen!2sin!4v1559656965906!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
  </div>
  <!-- ./navigation -->

  <div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid" alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
    </div>
  </div>
