/** heading fonts **/
/* @font-face {
    font-family: "poppins";
    src: url("../../../assets/fonts/poppins/Poppins-ExtraBold.ttf");
}

h1, h2, h3, h4, h4, h6 {
    font-family: "poppins";
}

/** other text font style **/
/* @font-face {
    font-family: "muli";
    src: url("../../../assets/fonts/muli/Muli-Regular.ttf");
}
p, a {
    font-family: "muli"
}  */

.contanct-img img {
    width: 100%;
}
.nopad {
    padding: 0;
}
.contanct-img h1 {
    position: absolute;
    top: 50%;
    left: 17%;
    color: white;
    font-weight: 800;
    font-size: 40px;
}
.contanct-img h1:after {
    background: #f71101;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    width: 70px;
}
.cust-contact {
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 0px 5px cadetblue;
    padding: 15px;
    min-height: 238px;
    word-break: break-all;
    margin-bottom: 15px;
}
.cust-contact i {
    font-size: 50px;
    margin-bottom: 20px;
}
.cust-contact a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.cust-contact p {
    font-size: 18px;
    font-weight: 600;
}
.cust-contact a:hover {
    color: black;
    text-decoration: none;
}
.cont-form {
    height: 50px;
}
.form-control:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
.btn-cnter {
    text-align: center;
}
.btn-success:focus {
    box-shadow: none;
}
.cust-sbmt {
    width: 15%;
}

a.req_btn {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 5px;
    background-image: linear-gradient(#fe000a, #ce050d);
    border: 1px solid #ffffff;
    box-shadow: 1px 3px 5px #cccccc;
}
.wrapper.request-callback {
    background: #efefef;
    box-shadow: 1px 5px 10px #000000;
    padding: 20px 0;
}

@media (max-width: 767.98px) {
    .contanct-img img {
        height: 200px;
    }
}

/** new map styles **/
.worldmapbox {
	position: relative;
	width: 900px;
	height: 530px;
	background: url(../../../assets/images/world.png) no-repeat;
	background-size: cover;
}
.mappoints {
	position: absolute;
	width: 28px;
	height: 28px;
	cursor: pointer
}
.mappoints span.countrynm {
	font-display: swap;
	font-family: AvenirLTStd-Heavy;
	position: absolute;
	left: 25px;
	top: -10px;
	font-size: 18px;
	color: #4ec14e;
	text-transform: uppercase;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	opacity: 0
}

.mappoints.active span.countrynm,
.mappoints:hover span.countrynm {
	opacity: 1
}

.mappoints.southAm {
	left: 285px;
	bottom: 100px
}

.mappoints.chile {
	left: 270px;
	bottom: 176px
}

.mappoints.maxico {
	left: 169px;
	bottom: 203px
}

.mappoints.usa {
	left: 130px;
	top: 200px
}

.mappoints.denmark {
	left: 256px;
	top: 33px
}

.mappoints.uk {
	left: 480px;
	top: 175px
}

.mappoints.india {
	right: 247px;
	top: 260px
}

.mappoints.uae {
	right: 320px;
	bottom: 230px
}

.mappoints.yemen {
	right: 345px;
	bottom: 210px
}

.mappoints.soudiarab {
	right: 340px;
	bottom: 260px
}

.mappoints.soudiarab span.countrynm {
	left: auto;
	right: 20px;
	width: 140px
}

.mappoints.jeddah {
	right: 360px;
	bottom: 237px
}

.mappoints.jeddah span.countrynm {
	left: auto;
	right: 17px;
	width: 80px
}

.mappoints.drc {
	left: 464px;
	bottom: 184px
}

.mappoints.southafrica {
	left: 484px;
	bottom: 110px
}

.mappoints.southafrica span.countrynm {
	width: 140px
}

.mappoints.australia {
	right: 110px;
	bottom: 90px
}

.mappoints.newzeland {
	right: 10px;
	bottom: 20px
}

.mappoints.newzeland span.countrynm {
	left: auto;
	right: 20px;
	width: 140px
}

.mappoints.china {
	right: 270px;
	top: 200px
}

.mappoints.russia {
	right: 170px;
	top: 120px
}

.mappoints.russia1 {
	right: 290px;
	top: 110px
}
.ourclientsinglobe {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-animation: ripple1 .7s linear infinite;
	animation: ripple1 .7s linear infinite
}
.mobileappdevebanwrap.countrypg h1 span.countrynm {
	font-family: Montserrat-Bold;
	position: relative;
	font-size: 90px;
	color: #1384ff;
	margin-top: 15px;
	display: block
}

.mobileappdevebanwrap.countrypg h1 span.countrynm:after {
	position: absolute;
	content: '';
	left: 5px;
	bottom: -28px;
	width: 50px;
	height: 10px;
	background-color: #1384ff
}
/** map style ends **/