
<!--  banner -->
<!-- <div class="container-fluid">
  <div class="row contanct-img">
    <div class="col-sm-12 nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="industries-bnr">
              <h1>Industries</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--  ./ banner -->

<!-- middle content -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12">
      <div class="mdl-content">
        <h2>Industries</h2>
        <p>
          Custom IT services and solutions built specifically for your business
        </p>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Digital Media</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow">
          <img src="assets/images/industries/digital-media.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInLeft">
        <h5>Healthcare</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow ">
          <img src="assets/images/industries/health-care.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInRight">
        <h5>Political</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/political.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Restaurants</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/restaurants.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInRight">
        <h5>Ecommerce</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow">
          <img src="assets/images/industries/e-commerce.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Eductaion</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow">
          <img src="assets/images/industries/education.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInDown">
        <h5>Government</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow">
          <img src="assets/images/industries/government.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInLeft">
        <h5>Financial</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow">
          <img src="assets/images/industries/financial.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Travel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/travel.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry1 revealOnScroll" data-animation="fadeInUp">
        <h5>Real Estate</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="cust-shadow revealOnScroll" data-animation="fadeInUp">
          <img src="assets/images/industries/real-estate.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 cd-btm">
      <div class="industry2 swing">
        <a href="#" routerLink='/contact' class="intro-banner-vdo-play-btn pinkBg">
          <img src="assets/images/28.png">
          <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
          </a>
          <h5>don't see your industry</h5>
        <p>We can help. Whatever your technology problem is, changes are, we've seen it before.</p>
      </div>
    </div>
  </div>
</div>
<!-- ./ middle content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="gati-limg">
        <!-- <img src="../../assets/images/portfolio/inner/gati-logo.png" class="img-fluid" alt="..."> -->
      </div>
    </div>
  </div>
</div>

<div class="wrapper request-callback revealOnScroll" data-animation="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="header">Request a call back <img src="assets/images/28.png" class="img-fluid"
            alt="Request a call back"></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" class="req_btn">Request Now</a>
      </div>
    </div>
  </div>
</div>