<footer class="footer-dark text-white animated fadeInUp">
  <!-- <img src="assets/images/42.png" class="footer-hover-img img-fluid"> -->
  <div class="container text-center text-md-left">
    <div class="row mt-3">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 useful-links">
            <h5 class="text-uppercase font-weight-bold">SITEMAP</h5>
            <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
            <p><a href="#!">Home</a></p>
            <p><a href="#!">About Us</a> </p>
            <p><a href="#!">Privacy Policy</a></p>
            <p><a href="#!">Terms & conditions</a></p>
            <p><a href="#!">Contact Us</a></p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 useful-links">
              <h5 class="text-uppercase font-weight-bold">&nbsp;</h5>
            <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
            <p><a href="#!">Clients</a></p>
            <p><a href="#!">Career</a></p>
            <p><a href="#!">Team</a></p>
            <p><a href="#!">Portfolio</a></p>
            <p><a href="#!">Why Us</a></p>
    
          </div>
          <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-info">
              <h5 class="text-uppercase font-weight-bold">CONTACT INFO</h5>
              <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
              <p class="contact-icons icon-phone"><a href="tel:+91-40-42612022"> +91 40-4261 2022</a> <br /> <a href="tel:+91 9701930011">+91 9701930011</a> / <a href="tel:</a>+91 9701930022">22</a></p>
              
              <p class="contact-icons icon-mail"><a href="mailto:sales@versatilemobitech.com">sales@versatilemobitech.com</a></p>
              <p class="contact-icons icon-india"><a>Versatile Mobitech Pvt. Ltd., 3rd Floor, Uni Space Business Center, Modern Profound Tech Park, Survey No: 12, Kondapur, Hyderabad-500032.</a></p>
              <!-- <p class="contact-icons icon-dubai"><a>Versatile IT Solutions LLC, Office No: 1307, Metropolis Tower, Burj Khalifa Street, Business Bay, Dubai.</a></p> -->
            </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h5 class="text-uppercase font-weight-bold">FOLLOW US ON</h5>
            <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
            <ul class="follow-list">
              <li class="facebook animated zoomIn delayone"><a href="https://www.facebook.com/versatilemobitech/" title="Facebook"><img src="assets/images/33.png" alt="Facebook"></a></li>
              <li class="instagram animated zoomIn delayfour"><a href="https://www.instagram.com/versatilemobitechpvtltd/" title="Instagram"><img src="assets/images/36.png" alt="Instagram"></a></li>
              <li class="googleplus animated zoomIn delaytwo"><a href="https://plus.google.com/+VersatileMobitechPvtLtdV" title="GooglePlus"><img src="assets/images/38.png" alt="GooglePlus"></a></li>
              <li class="twitter animated zoomIn delaytwo"><a href="https://www.versatilemobitech.com/" title="Twitter"><img src="assets/images/34.png" alt="Twitter"></a></li>
              
              
            </ul>
            <ul class="follow-list">
                <li class="pinterest animated zoomIn delayone"><a href="https://in.pinterest.com/VMobitech/" title="Pinterest"><img src="assets/images/37.png" alt="Pinterest"></a></li>
                <li class="linkedin animated zoomIn delaythree"><a href="https://www.linkedin.com/company/versatilemobitechpvtltd/" title="LinkedIn"><img src="assets/images/35.png" alt="LinkedIn"></a></li>
                <li class="youtube animated zoomIn delaythree"><a href="https://www.youtube.com/channel/UCIDwHeUoFYFLFBnRNcwCA2Q" title="Youtube"><img src="assets/images/39.png" alt="youtube"></a></li>
                <li class="animated zoomIn delayfour"><a href="#"><img src="assets/images/40.png" alt=""></a></li>
            </ul>
            <br>
            <h5 class="text-uppercase font-weight-bold">OUR APPS</h5>
            <ul class="app-list">
              <li class="mr-md-4 animated zoomIn"><a href=""><img src="assets/images/play-store.png" alt="Play-store"></a></li>
              <li class="animated zoomIn"><a href=""><img src="assets/images/app-store.png" alt="App-store"></a></li>
            </ul>
          </div>
          
      </div>
  </div>
</footer>
<div class="footer-copyright text-center text-white py-2">Copyright © 2012-2019 
  <a href="https://www.versatilemobitech.com/" class="text-white"> Versatile Mobitech Pvt Ltd</a> All rights reserved.
</div>