<div class="container-fluid">
   <div class="row">
      <div class="col-md-4 topleft-wrap">
         <div class="float-right" id="triangle-topleft"></div>
      </div>
      <div class="col-md-8 topright-wrap">
         <ul class="contact-details">
            <li class="float-left">
               <a href="assets/images/versatile-portfolio-india.pdf" target="_blank"><img
                     src="assets/images/versatile_mobitech.png" alt="Versatile Mobitech Brochure"> Download Brochure</a>
            </li>
            <li class="float-left">
               <img src="assets/images/3.png" alt="email id"> Email : <a href="mailto:sales@versatilemobitech.com">
                  sales@versatilemobitech.com</a>
            </li>
            <li class="float-left">
               <img src="assets/images/2.png" alt="email id"> Call Us : <a href="tel:+91 9701930011"> +91 9701930011 /
                  22</a>
            </li>
            <li class="float-left flag_ctm1"><a href="https://versatilemobitech.com"><img src="assets/images/4.png"
                     class="flag_ctm" alt="Versatile Mobitech india"></a></li>
            <li class="float-left flag_ctm1"><a href="https://versatilemobitech.ae"><img src="assets/images/5.png"
                     class="flag_ctm" alt="Versatile Mobitech dubai"></a></li>
         </ul>
      </div>
   </div>
</div>


<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <nav class="navbar navbar-expand-lg navbar-light bg-light cust-nav">
            <div class="container">
                        <a class="navbar-brand" href="#"><img class="logo img-fluid" src="assets/images/img_logo.jpg"
                           alt="Versatile Mobitech"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
      
                     <div class="collapse navbar-collapse hd-tp" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto cust-navbar-nav">
                           <li class="nav-item active">
                              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 OUR COMPANY
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item">About Us</a>
                                 <a class="dropdown-item" href="#" routerLink="/directors">Board of Directors</a>
                                 <a class="dropdown-item" href="#" routerLink="/industries">Industries</a>
                              </div>
                           </li>
      
                           <li class="nav-item dropdown1">
                              <button class="dropbtn" routerLink="/services">SERVICES
                                 <i class="fa fa-caret-down"></i>
                              </button>
                              <div class="dropdown-content1">
                                 <div class="container mega-background">
                                    <div class="row">
                                          <div class="col-sm-4 column1">
                                                <h3>Mobile App Development</h3>
                                                <a href="#">Android Apps Development</a>
                                                <a href="#">IOS Apps Development</a>
                                                <a href="#">iPad Apps Development</a>
                                                <a href="#">Wearable Apps Development</a>
                                                <a href="#">Hybride Apps Development</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>Web Application Development</h3>
                                                <a href="#">Angular Development</a>
                                                <a href="#">Node JS Development</a>
                                                <a href="#">React JS Development</a>
                                                <a href="#">PHP Development</a>
                                                <a href="#">MongoDB Development</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>UX/UI Design</h3>
                                                <a href="#">Web Design</a>
                                                <a href="#">Application Design</a>
                                                <a href="#">Mockups</a>
                                                <a href="#">Prototypes</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>Digital Marketing</h3>
                                                <a href="#">Search Engine Optimization</a>
                                                <a href="#">Social Media Marketing</a>
                                                <a href="#">Social Media Optimization</a>
                                                <a href="#">Search Engine Marketing</a>
                                                <a href="#">Social Media Optimization</a>
                                                <a href="#">Pay-per-click</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>Machine Learning & Artificial Intelligence</h3>
                                                <a href="#">Machine Learning</a>
                                                <a href="#">Artificial Intelligence</a>
                                                <a href="#">Data Science</a>
                                                <a href="#">Deep Learning</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>IOT</h3>
                                                <a href="#">Industrial Automation</a>
                                                <a href="#">Home Automation</a>
                                             </div>
                                             <div class="col-sm-4 column1">
                                                <h3>Enterprice Solutions</h3>
                                                <a href="#">Enterprise Resource Planning</a>
                                                <a href="#">Customer Relationship Management</a>
                                             </div>
                                    </div>
                                 </div>
                              </div>
                           </li>
      
                           <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="/portfolio">PORTFOLIO</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="/contact">CONTACT US</a>
                           </li>
                        </ul>
                     </div>
            </div>
         </nav>
      </div>
   </div>
</div>


<!-- <div class="container main-menu">
    <div class="row">
       <nav class="navbar navbar-expand-lg navbar-light bg-white">
             <div class="col-md-4">
                <a href="#" class="navbar-brand"><img class="logo img-fluid" src="assets/images/img_logo.jpg" alt="Versatile Mobitech"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
             </div>
             <div class="col-md-8 collapse navbar-collapse main-navbar" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                   <li class="nav-item active"><a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a></li>
                   <li class="nav-item">
                      <a class="nav-link" href="#aboutus" role="button" data-toggle="modal" data-backdrop="false">ABOUT US <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                 
                      <div class="modal fade bottom" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                         <div class="modal-dialog modal-sm modal-frame modal-bottom" role="document">
                            <div class="modal-content">
                               <div class="modal-body">
                                  <div class="row d-flex justify-content-center align-items-center">
                                     <ul class="services-list">
                                        <li class="" data-dismiss="modal"><a routerLink="/ui-ux-design">UX/UI Design</a></li>
                                        <li class="" data-dismiss="modal"><a routerLink="/">Web Development</a> </li>
                                        <li class="" data-dismiss="modal"><a routerLink="/">Mobile Applications</a></li>
                                        <li class="" data-dismiss="modal"><a routerLink="/">IT Consulting</a></li>
                                        <li class="" data-dismiss="modal"><a routerLink="/">Digital Marketing and SEO</a></li>
                                        <li class="" data-dismiss="modal"><a routerLink="/">Tech Support</a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </li>
                   <li class="nav-item"><a class="nav-link" routerLink="/services">SERVICES</a></li>
                   <li class="nav-item"><a class="nav-link" routerLink="/portfolio">PORTFOLIO</a></li>
                   <li class="nav-item"><a class="nav-link" routerLink="/directors">TEAM</a></li>
                   <li class="nav-item"><a class="nav-link" routerLink="/contact">CONTACT US</a></li>
                </ul>
             </div>
          </nav>
    </div>
 </div>  -->