/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url("assets/fonts/poppins/Poppins-ExtraBold.ttf");
  }
  
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("assets/fonts/poppins/Poppins-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url("assets/fonts/poppins/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: "muli";
    src: url("assets/fonts/muli/Muli-Regular.ttf");
  }
  @font-face {
    font-family: "muli-italic";
    src: url("assets/fonts/muli/Muli-Italic.ttf");
  }
  @font-face {
    font-family: "muli-bold";
    src: url("assets/fonts/muli/Muli-Bold.ttf");
  }
  body {font-family: 'muli', sans-serif;font-size: 14px;color: #000000;line-height: 1.7em;} 
  h1 {font-family: 'Poppins-ExtraBold', sans-serif;}
  h2 {font-family: 'Poppins-Bold', sans-serif;}
  h3, h4, h5, h6 {font-family: 'Poppins-SemiBold', sans-serif;}




  #chartdiv {
    margin-top:12px;
    width	: 100%;
    height	: 400px;
    margin-bottom:12px;
  }
  
  .map-marker {
      /* adjusting for the marker dimensions 
      so that it is centered on coordinates */
      margin-left: -8px;
      margin-top: -8px;
  }
  #chartdiv a{ 
display:none!important;
  }
  .map-marker.map-clickable {
      cursor: pointer;
  }
  .pulse-One {
      width: 250px;
      height: 240px;
      /* border: 5px solid #f7f14c; */
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      /* background-color: #716f42; */
      /* background-image: url('../src/assets/images/7.png'); */
      background-repeat: no-repeat;
            /* background-image: url(31.png); */
      z-index: 10;
      position: absolute;
    }
  .map-marker .dot {
      border: 10px solid #fff601;
      /* background-image: url('../src/assets/images/31.png'); */
      background: transparent;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
      height: 50px;
      width: 50px;
      -webkit-animation: pulse 3s ease-out;
      -moz-animation: pulse 3s ease-out;
      animation: pulse 3s ease-out;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      position: absolute;
      top: -25px;
      left: -25px;
      z-index: 1;
      opacity: 0;
    }
    @-moz-keyframes pulse {
     0% {
         -moz-transform: scale(0);
         opacity: 0.0;
     }
     25% {
         -moz-transform: scale(0);
         opacity: 0.1;
     }
     50% {
         -moz-transform: scale(0.1);
         opacity: 0.3;
     }
     75% {
         -moz-transform: scale(0.5);
         opacity: 0.5;
     }
     100% {
         -moz-transform: scale(1);
         opacity: 0.0;
     }
    }
    @-webkit-keyframes "pulse" {
     0% {
        -webkit-transform: scale(0);
         opacity: 0.0;
     }
     25% {
        -webkit-transform: scale(0);
         opacity: 0.1;
     }
     50% {
        -webkit-transform: scale(0.1);
         opacity: 0.3;
     }
     75% {
        -webkit-transform: scale(0.5);
         opacity: 0.5;
     }
     100% {
        -webkit-transform: scale(1);
         opacity: 0.0;
     }
    }		
